[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "mordhau-rcon-suite"

[packages]
asyncio = "*"
pygrok = "*"
reactivex = "*"
"discord.py" = "*"
dacite = "*"
python-dotenv = "*"
numpy = "*"
motor = "*"
table2ascii = "*"
aiofiles = "*"

[dev-packages]
flake8 = "*"
flake8-async = "*"
pytest = "*"
faker = "*"
pyright = "*"

[scripts]
lint = "flake8"
typecheck = "pyright"
test = "pytest"

[requires]
python_version = "3.11.3"
python_full_version = "3.11.3"
