name: Main jobs

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: python:3.11.3
    steps:
      - name: install pipenv
        run: pip install pipenv
      - name: install packages
        run: pipenv install
      - name: run tests
        run: pipenv run lint

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: docker build
        run: docker build .
